{% extends "base.html" %}

{% block content %}
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Model</th>
      <th>Manufacturer</th>
    </tr>
    </thead>
    <tbody>
    {% if driver.cars.all %}
      {% for car in driver.cars.all %}
        <tr>
          <td><a href="{{ car.get_absolute_url }}">{{ car.id }}</a></td>
          <td>{{ car.model }}</td>
          <td>{{ car.manufacturer.name }}</td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
{% endblock %}
